/*-------------
    RESET
--------------*/   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------
    GENERAL
--------------*/  

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.container-products {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.img-fluid {
    max-width: 100%;
}

/*-------------
    Header
--------------*/ 

header {
    background-color: #ff6900;
}

.logo {
    max-width:  100%;
    height: 30px;
}

header h1 {
    display: inline-block;
    font-size: 16px;
}

header h1:not(first-child) {
    margin-left: 10px;
}

header i {
    font-size: 12px;
}

header i:not(last-child) {
    margin-left: 4px;
}

/*-------------
    MAIN
--------------*/

.row {
    display: flex;
    margin-bottom: 40px;
    gap: 5px;
}

.col {
    width: calc(100% / 3);
    position: relative;
}

.heart {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #fff;
    padding: 5px;
}